{% extends 'base.html.twig' %}
{% block body %}
    <article>
        
    <h1>Abba - Eagle</h1>
    <p>   
    They came flying from far away, now I'm under their spell <br />
I love hearing the stories that they tell <br />
They've seen places beyond my land and they've found new horizons <br />
They speak strangely but I understand 
</p>
<p>
And I dream I'm an eagle <br />
And I dream I can spread my wings <br />
Flying high, high, I'm a bird in the sky <br />
I'm an eagle that rides on the breeze <br />
High, high, what a feeling to fly <br />
Over mountains and forests and seas <br />
And to go anywhere that I please
</p>
<p> 
As all good friends we talk all night, and we fly wing to wing <br />
I have questions and they know everything <br />
There's no limit to what I feel, we climb higher and higher <br />
Am I dreaming or is it all real? 
</p>
<p>
Is it true I'm an eagle? <br />
Is it true I can spread my wings? <br />
Flying high, high, I'm a bird in the sky <br />
(I'm an eagle) <br />
I'm an eagle that rides on the breeze <br />
High, high, what a feeling to fly <br />
(What a feeling) <br />
Over mountains and forests and seas <br />
And to go anywhere that I please
</p>
<p>
And I dream I'm an eagle <br />
And I dream I can spread my wings <br />
Flying high, high, I'm a bird in the sky <br />
(I'm an eagle) <br />
I'm an eagle that rides on the breeze <br />
High, high, what a feeling to fly <br />
(What a feeling) <br />
Over mountains and forests and seas <br />
Flying high, high, I'm a bird in the sky <br />
(I'm an eagle) <br />
I'm an eagle that rides on the breeze <br />
High, high, what a feeling to fly <br />
(What a feeling) <br />
Over mountains and forests and seas <br />
And to go anywhere that I please   
</p>

    </article>
{% endblock %}